[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
pytest = "*"
pytest-xdist = "*"
audio-test-tools = {path = "python",editable = true}

[requires]
python_version = "3.7"
