[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pytest = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
configparser = "*"
sounddevice = "*"
tensorflow = "*"
sklearn = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.6"
